<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <!-- <div class="col-md-4-lg-12"> -->
            <div class="card">
                <div class="card-body">
                    <div class="container2" style="background-color: #308D89; height: 100%;">
                        <div class="content" style=" width: 90%; height: 90%; display: flex; ">
                        <div class="partie-gauche" style="width: 50%;">
                            <div style="width: 100%; height: 100%;">
                            <img src="../../assets/img/Group 119.png" width="100%" alt="...">
                           </div> 
                         </div>
                         <div class="partie-droite"  style="width: 50%; background-color: white;">
                            <div style="margin-top: 5%; justify-content: center; align-items: center;">
                                <h2 style="text-align: center;">Connexion</h2>
                            </div>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- <div class="container" style="background-color: #308D89;">
    <div class="content" style=" width: 95%; height: 95%; display: flex; ">
         <div class="partie-gauche">
            <div style="height: 95%; width: 100%;">
            <img src="../../assets/img/Group 119.png" height="180px" alt="...">
            </div>
         </div>
         <div class="partie-droite">
            <div>
                <h1>La partie gauche</h1>
            </div>
         </div>
    </div>
</div> -->