

 <div class="main-content">

    <div class="container-fluid">
                <div class="container-body" style=" max-height: 600px;">
                    <div class="container2"
                        style="background-color: #308D89; height: 100%; justify-content: center; align-items: center;width: 50%; margin-left: 25%;padding: 3%; padding-top: 0.8%;  padding-bottom: 1%;">
                       
                        <div class="partie-droite" style="width: 100%; background-color: white;padding-right:36px">
                            <div style="margin-top: 5%; justify-content: center; align-items: center;">
                                <h2 style="text-align: center;">Connexion</h2>
                            </div>
                            <div class="formulaire" style="justify-content: center; align-items: center; padding-left: 8%;margin-top: -95px;">
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="forme">
                                    <div class="input-field">
                                     <div>  <label for="Email" style="color: black; font-size: larger;">Email</label> </div> 
                                      <div> <input type="text" id="email" formControlName="email" placeholder="Ex: park@gmail.com"  required ></div> 
                                      </div>
                                      <div class="nput-field">
                                     <div>  <label for="Mot de Passe"  style="color: black; font-size: larger;">Mot de Passe</label></div> 
                                      <div> <input type="password" id="motdepasse" placeholder="12345678" formControlName="motdepasse" required ></div> 
                                      </div>
                                      <div class="btn">
                                        <button  type="submit">Se connecter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>



        <!----<div class="row"> -->
            <!-- <div class="col-md-6-lg-12"> -->
            <!-- <div class="container"> 
                 <div class="content" style=" width: 90%; height: 90%; display: flex; margin-left: 5%;padding-top: 5%;"> -->