<fieldset>
    <div class="image" style="align-items: center; justify-content: center;display: flex;">
      <img src="../../assets/img/iconPark2-removebg-preview.png" width="159px" height="156px" alt="image non disponible">
    </div>
    <h3 style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Ajouter Voiture</h3>
    <form class="example-form">
        <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;">
         <div class="formLabel"> <label  style=" margin-left: 20px;font-size: large; font-weight: bold; color: #308D89;">Nom Voiture:</label></div>
         <div class="formInput"> <input style="margin-left: 5%;" class="form-control" type="text" placeholder="Mercedes" aria-label="default input example" ></div>
        </div>
        <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;">
         <div class="formLabel"> <label  style=" margin-left: 20px;font-size: large; font-weight: bold; color: #308D89;">Modèle:</label></div>
         <div class="formInput"> <input style="margin-left: 5%;" class="form-control" type="text" placeholder="G 360" aria-label="default input example" ></div>
        </div>
        <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;">
         <div class="formLabel"> <label  style=" margin-left: 20px;font-size: large; font-weight: bold; color: #308D89;">Année Sortie:</label></div>
         <div class="formInput"> <input style="margin-left: 5%;" class="form-control" type="text" placeholder="2023" aria-label="default input example" ></div>
        </div>
        <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;">
         <div class="formLabel"> <label  style=" margin-left: 20px;font-size: large; font-weight: bold; color: #308D89;">Nom Voiture:</label></div>
         <div class="formInput"> <input style="margin-left: 5%;" class="form-control" type="text" placeholder="Mercedes" aria-label="default input example" ></div>
        </div>
        <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;">
         <div class="formLabel"> <label  style=" margin-left: 20px;font-size: large; font-weight: bold; color: #308D89;">Nom Voiture:</label></div>
         <div class="formInput"> <input style="margin-left: 5%;" class="form-control" type="text" placeholder="Mercedes" aria-label="default input example" ></div>
        </div>
        <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;">
         <div class="formLabel"> <label  style=" margin-left: 20px;font-size: large; font-weight: bold; color: #308D89;">Nom Voiture:</label></div>
         <div class="formInput"> <input style="margin-left: 5%;" class="form-control" type="text" placeholder="Mercedes" aria-label="default input example" ></div>
        </div>
    </form>
</fieldset>
