<fieldset style="border-radius: 20px;">
    <div class="image" style="align-items: center; justify-content: center;display: flex;">
      <img src="../../assets/img/iconPark2-removebg-preview.png" width="159px" height="156px" alt="image non disponible">
    </div>
    <h3 style=" margin-top: -1.5%; text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bold;">Ajouter Voiture</h3>


    <form class="example-form"  [formGroup]="voitureForm" (ngSubmit)="createVoiture()" enctype="multipart/form-data">
     <!-- 1éer Ligne -->
     <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center; margin-bottom: 15px;">
     <div class="input-group flex-nowrap">
      <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Marque</span>
      <input type="text"  formControlName="marque" class="form-control" placeholder="Ex: Mercedes" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
     <div class="input-group flex-nowrap">
      <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Modèle</span>
      <input type="text"  formControlName="modele" class="form-control" placeholder="Ex: AMG" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
  </div>
      <!-- 2eme Ligne -->
      <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;  margin-bottom: 15px;">
        <div class="input-group flex-nowrap">
         <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Année Sortie</span>
         <input type="text"  formControlName="anneeSortie" class="form-control" placeholder="Ex: 2023" aria-label="Username" aria-describedby="addon-wrapping">
       </div>
        <div class="input-group flex-nowrap">
         <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Photo1</span>
         <input type="file"  formControlName="photo2" (change)="photos2Change($event)" accept="image/*" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
       </div>
     </div>
        <!-- 3eme Ligne -->
        <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center;  margin-bottom: 15px;">
          <div class="input-group flex-nowrap">
            <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Prix</span>
            <input type="text"  formControlName="prix" class="form-control" placeholder="Ex: 25 000000" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap">
           <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Photo3</span>
           <input type="file"  formControlName="photo4" (change)="photos4Change($event)" accept="image/*" class="form-control" aria-label="Username" aria-describedby="addon-wrapping">
         </div>
       </div>
       <!-- 4eme Ligne -->
       <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center; margin-bottom: 15px;">
        <div class="input-group flex-nowrap">
         <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Quantité</span>
         <input type="text"  formControlName="quantite" class="form-control" placeholder="Ex: 15" aria-label="Username" aria-describedby="addon-wrapping">
       </div>
       <div class="input-group flex-nowrap">
        <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Photo2</span>
        <input type="file"  formControlName="photo3"  (change)="photos3Change($event)" accept="image/*" class="form-control"  aria-label="Username" aria-describedby="addon-wrapping">
      </div>
     </div>
         <!-- 5eme Ligne -->
         <div class="inputGroupe" style="display: flex; align-items: center; justify-content: center; margin-bottom: 15px;">
          <div class="input-group flex-nowrap">
           <span style="color: #308D89" class="input-group-text" id="addon-wrapping">Type</span>
           <input type="text"  formControlName="type" class="form-control" placeholder="Ex: Location" aria-label="Username" aria-describedby="addon-wrapping">
         </div>
       </div>
        <div class="boutton">
          <div>
          <button type="button"style="margin-right:15px;border-radius: 10px;font-size: 15px;" (click)="onNoClick()" class="btn btn-danger">Annuler</button>
          </div>
          <div>
          <button type="button" style="margin-left: 30px;border-radius: 10px;font-size: 15px;"  class="btn btn-info" >Enregistrer</button>
          </div>
        </div>
    </form>
</fieldset>
