<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="row">
        <div class="card-header card-header-danger col-lg-3 col-md-12" style="margin-left: 70%;">
            <!-- <h2 class="card-title">+ Nouvelle Voiture</h2> style="width: 25%; height: 5rem; align-self: self-end;"    -->
            <button class="btn-danger" style="width: 90%;margin:auto;height: 100%;font-size: x-large;border: none;">+ Nouvelle Voiture</button>
        </div>
      </div>
        <div class="card-body">
          <div class="row">
            <div class="card col-lg-3 col-md-12" style="width: 30rem;">
                <img src="/assets/img/Lux.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">GMC 700</h5>
                  <p class="card-text" style="font-size: large;">Quantité: 5</p>
                  <a style="margin-left: 10%; width: 80%; font-size: large;" href="#" class="btn">Details</a>
                </div>
              </div>
            <div class="card col-lg-3 col-md-12" style="width: 30rem;">
                <img src="/assets/img/pickup.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-weight: bold;">GMC 700</h5>
                  <p class="card-text" style="font-size: large;">Quantité: 5</p>
                  <a style="margin-left: 10%; width: 80%; font-size: large;" href="#" class="btn btn-info">Details</a>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
